# ===================================================================================
#      БАЗОВАЯ КОНФИГУРАЦИЯ (общая для всех профилей)
# ===================================================================================

server:
  # Порт по умолчанию. Может быть переопределен.
  port: ${APP_PORT:8080}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: account-service

  # Определяем "шаблоны" для наших двух баз данных.
  # Конкретные URL, юзеры и пароли будут заданы в профилях.
  datasource-business:
    driver-class-name: org.postgresql.Driver
  datasource-security:
    driver-class-name: org.postgresql.Driver

  jpa:
    # Общие настройки Hibernate для обоих Persistence Unit
    properties:
      hibernate:
        format_sql: true # Форматирование можно оставить, оно не сильно влияет на прод

  # ВАЖНО: Отключаем автоконфигурацию Flyway, так как мы управляем ей вручную
  # для двух баз данных в Java-конфигах. ЭТО ПРАВИЛЬНО.
  flyway:
    enabled: false

  cache:
    type: redis
    cache-names:
      - users
      - accounts
    redis:
      key-prefix: "fintech::cache::" # Уникальный префикс, чтобы не пересекаться с другими
      cache-null-values: false

  # Указываем, чтобы Spring Boot импортировал переменные из .env файла.
  # Этот файл НЕ должен быть в Git.
  config:
    import: "optional:file:.env"

# --- Настройки внешних инструментов ---
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

# --- Кастомные настройки приложения (общие) ---
app:
  # Настройки JWT (берем из .env)
  jwt:
    secret: "${APP_SECRET}"
    token-expiration: 15m
    refresh-token-expiration: "P7D" # 7 дней

  # Настройки шифрования (берем из .env)
  encryption:
    db-secret-key: "${CRYPTO_PASSWORD}"

  # Имена схем (берем из .env)
  db:
    schema:
      business: ${DB_SCHEMA_BUSINESS:business}
      security: ${DB_SCHEMA_SECURITY:security}