# ===================================================================================
#      ПРОФИЛЬ ДЛЯ PROD / DOCKER
# ===================================================================================

spring:
  config:
    activate:
      on-profile: prod

  # --- PROD НАСТРОЙКИ ДЛЯ БАЗ ДАННЫХ ---
  # Здесь мы ОБЯЗАТЕЛЬНО используем переменные из .env

  datasource-business:
    url: jdbc:postgresql://${BUSINESS_DB_HOST}:${BUSINESS_DB_PORT}/${BUSINESS_DB_NAME}
    username: ${BUSINESS_DB_USER}
    password: ${BUSINESS_DB_PASSWORD}

  datasource-security:
    url: jdbc:postgresql://${SECURITY_DB_HOST}:${SECURITY_DB_PORT}/${SECURITY_DB_NAME}
    username: ${SECURITY_DB_USER}
    password: ${SECURITY_DB_PASSWORD}

  # --- PROD НАСТРОЙКИ REDIS ---
  data:
    redis:
      # Имя хоста - это имя сервиса из docker-compose.yml
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      # В проде, скорее всего, будет пароль:
      # password: ${REDIS_PASSWORD}

  # --- PROD НАСТРОЙКИ JPA ---
  # В проде отключаем показ SQL для производительности и безопасности
  jpa:
    show-sql: false

# --- PROD НАСТРОЙКИ ЛОГГИРОВАНИЯ ---
# В проде логируем только INFO и выше, чтобы не забивать диски
logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    ru.example.account: DEBUG # <-- Логи твоего приложения можно оставить на DEBUG

# В проде можно отключить Swagger UI для дополнительной безопасности
springdoc:
  swagger-ui:
    enabled: false